:root {
    --rotation-speed-left: 2s; /* Speed of continuous leftward rotation */
    --rotation-speed-right: 0.3s; /* Speed of rightward burst rotation */
    --right-rotation-interval: 20%; /* The percentage in keyframes when the right rotation happens */
}

.logoContainer{
    width:20vw;
    overflow:visible;
    justify-content: center;
    align-items: center;
}

.OHexagon{
    transform-origin: center;
    transform-box: fill-box;
    animation: rotate-left 6s infinite linear;
}

.IHexagon{
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotate-left   {
    from
    {
        transform: rotateZ(0deg);
    }
    to
    {
        transform: rotateZ(360deg);
    }
}
